<section class="py-20 bg-blue-50" id='45"'>
  <div class="container px-4 mx-auto">
    <div class="max-w-xl mx-auto mb-20 text-center">
      <span class="text-lg text-blue-500 font-bold">Clientes</span>
      <h2 class="mt-6 text-2xl lg:text-5xl font-bold font-heading">
        Nuestros Principales Clientes En El Tiempo
      </h2>
    </div>
    <!--CLIENTE -->
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-6"
    >
      <div class="p-2">
        <div
          class="flex w-full h-32 items-center justify-center bg-white rounded-lg"
        >
          <img
            class=""
            src="Imagenes/Clientes/MasisaChile-Clientes-De-AbsGroup.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="p-2">
        <div
          class="flex w-full h-32 items-center justify-center bg-white rounded-lg"
        >
          <img
            class=""
            src="Imagenes/Clientes/ElecnorChile-Clientes-De-AbsGroup.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="p-2">
        <div
          class="flex w-full h-32 items-center justify-center bg-white rounded-lg"
        >
          <img
            class=""
            src="Imagenes/Clientes/MasisaChile-Clientes-De-AbsGroup.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="p-2">
        <div
          class="flex w-full h-32 items-center justify-center bg-white rounded-lg"
        >
          <img
            class=""
            src="Imagenes/Clientes/ElecnorChile-Clientes-De-AbsGroup.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="p-2">
        <div
          class="flex w-full h-32 items-center justify-center bg-white rounded-lg"
        >
          <img
            class=""
            src="Imagenes/Clientes/MasisaChile-Clientes-De-AbsGroup.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="p-2">
        <div
          class="flex w-full h-32 items-center justify-center bg-white rounded-lg"
        >
          <img
            class=""
            src="Imagenes/Clientes/ElecnorChile-Clientes-De-AbsGroup.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="p-2">
        <div
          class="flex w-full h-32 items-center justify-center bg-white rounded-lg"
        >
          <img
            class=""
            src="Imagenes/Clientes/MasisaChile-Clientes-De-AbsGroup.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="p-2">
        <div
          class="flex w-full h-32 items-center justify-center bg-white rounded-lg"
        >
          <img
            class=""
            src="Imagenes/Clientes/ElecnorChile-Clientes-De-AbsGroup.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="p-2">
        <div
          class="flex w-full h-32 items-center justify-center bg-white rounded-lg"
        >
          <img
            class=""
            src="Imagenes/Clientes/MasisaChile-Clientes-De-AbsGroup.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="p-2">
        <div
          class="flex w-full h-32 items-center justify-center bg-white rounded-lg"
        >
          <img
            class=""
            src="Imagenes/Clientes/ElecnorChile-Clientes-De-AbsGroup.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="pb-20 mx-auto bg-white">
  <div class="w-11/12 xl:w-2/3 lg:w-2/3 md:w-2/3 mx-auto sm:mb-10 mb-16">
    <h1
      tabindex="0"
      class="focus:outline-none xl:text-4xl md:text-3xl text-xl text-center text-black mb-5 pt-4 font-black"
    >
    </h1>
    <p
      tabindex="0"
      class="focus:outline-none text-base md:text-sm lg:text-lg text-center text-slate-900 font-light xl:w-10/12 xl:mx-auto"
    >
      Nuestra Misión: Satisfacer las necesidades, entregando soluciónes y
      estrategias a nuestros clientes.
    </p>
  </div>
  <div class="flex flex-wrap">
    <div
      class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center pb-16 items-center"
    >
      <img
        tabindex="0"
        class="focus:outline-none"
        src="Imagenes/Clientes/Elecnor-Chile_Clientes_De_Abs_Group.webp"
        alt="Adidas"
        role="img"
      />
    </div>
    <div
      class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center pb-16 items-center"
    >
      <img
        tabindex="0"
        class="focus:outline-none"
        src="public/Imagenes/Clientes/Elecnor-Chile_Clientes_De_Abs_Group.webp"
        alt="Adidas"
        role="img"
      />
    </div>
    <div
      class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center pb-16 items-center"
    >
      <img
        tabindex="0"
        class="focus:outline-none"
        src="public/Imagenes/Clientes/Elecnor-Chile_Clientes_De_Abs_Group.webp"
        alt="Adidas"
        role="img"
      />
    </div>
    <div
      class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center pb-16 items-center"
    >
      <img
        tabindex="0"
        class="focus:outline-none"
        src="public/Imagenes/Clientes/Elecnor-Chile_Clientes_De_Abs_Group.webp"
        alt="Adidas"
        role="img"
      />
    </div>
    <div
      class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center pb-16 items-center"
    >
      <img
        tabindex="0"
        class="focus:outline-none"
        src="public/Imagenes/Clientes/Elecnor-Chile_Clientes_De_Abs_Group.webp"
        alt="Adidas"
        role="img"
      />
    </div>
    <div
      class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center pb-16 items-center"
    >
      <img
        tabindex="0"
        class="focus:outline-none"
        src="public/Imagenes/Clientes/Elecnor-Chile_Clientes_De_Abs_Group.webp"
        alt="Adidas"
        role="img"
      />
    </div>
    <div
      class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center pb-16 items-center"
    >
      <img
        tabindex="0"
        class="focus:outline-none"
        src="public/Imagenes/Clientes/Elecnor-Chile_Clientes_De_Abs_Group.webp"
        alt="Adidas"
        role="img"
      />
    </div>
    <div
      class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center pb-16 items-center"
    >
      <img
        tabindex="0"
        class="focus:outline-none"
        src="public/Imagenes/Clientes/Elecnor-Chile_Clientes_De_Abs_Group.webp"
        alt="Adidas"
        role="img"
      />
    </div>
  </div>
</div>
