---
import "animate.css";

import LayoutBase from "../layouts/LayoutBase.astro";
/*-------------------------------------------------------------- 
## COMPONENTES
----------------------------------------------------------------*/

//SEO
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title="Empresa de Ingenieria, Montaje y Construcción - ABS Group  "
  description="Ingenieria y construccion"
  canonical="https://www.absgroup.cl/"
  openGraph={{
    url: "https://www.absgroup.cl/",
    title: "Grupo Abs",
    description: "Grupo Abs",
    images: [
      {
        url: "https://www.absgroup.cl/og-image-01.jpg",
        width: 800,
        height: 600,
        alt: "Og Image Alt",
        type: "image/jpeg",
      },
    ],
    site_name: "AbsGroup CHIle",
  }}
  twitter={{
    handle: "@handle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<LayoutBase title="Home ABSGroup">
  <!-- Presentacion -->
  <section class="container prose lg:prose-2xl mx-auto px-9">
    <article>
      <header class="w-full mx-auto text-focus-in">
        <p class="flex items-center">
          <a
            href=""
            class="text-white font-extralight text-base hover:underline no-underline"
            ><i class="fa-solid fa-chevron-left"></i> Volver al Index</a
          >
        </p>
        <span>Presentacion ABS Group</span>
        <h1 class="text-focus-in text-slate-100 text">
          Nuestro Grupo: La empresa
        </h1>
      </header>
      <figure>
        <img
          class="rounded shadow"
          alt="A vintage, blue, slightly rusted truck with a woooden bed overflowing with pumpkins on an gloomy overcast day. Surounding the truck are beautiful orange and white pumpkins varrying from small to large."
          src="https://images.unsplash.com/photo-1571030701211-aa96da577e91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        />
        <figcaption class="italic text-lg md:text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias sunt,
          eos excepturi ducimus omnis eius ipsum eaque odio voluptates enim
          expedita aliquid saepe consectetur id voluptate dolorum consequuntur
          minima nihil!
        </figcaption>
      </figure>
      <div class="md:px-8">
        <h2 class="text-slate-100">Titulo Secundario</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis
          commodi earum quisquam tempora voluptatem aperiam eos! Assumenda
          neque, modi tenetur odio, excepturi odit, cumque doloribus vero maxime
          animi vel commodi?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
          odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla
          quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
          mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
          Vestibulum lacinia arcu eget nulla.
        </p>
        <p>
          <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos himenaeos. <b
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit</b
          >. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.
          Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem
          at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut
          ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel,
          suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia
          aliquet. Mauris ipsum.
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel ullam
          nulla animi laboriosam. Ex doloremque sit obcaecati, facere fugit quas
          reprehenderit aspernatur dolores rerum eaque eius fuga animi eum
          dolorem.
        </p>
        <h2 class="text-slate-200">Lorem ipsum</h2>
        <img
          alt="image of a happy dog with short black hair staring up at his owner"
          class="rounded"
          src="https://picsum.photos/id/237/1200/500"
        />
        <p>
          <b>Lorem Ipsum</b>Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Veniam veritatis laboriosam consectetur nemo aliquam ut, dolor
          ab, deleniti quis sed architecto incidunt? Quod, non? Dolorum
          consequatur atque repudiandae ratione ex?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
          sapiente cum fugit beatae est harum nam dolorum sed atque vero quia
          numquam, debitis cumque rem dolor ut eveniet molestiae quam!
        </p>
        <section class="mb-6">
          <h2 class="text-slate-100">Más</h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean magna nulla,
          semper nec bibendum nec, aliquet a augue. Integer laoreet elit vel est
          finibus, ac fringilla dolor mollis. Sed eget faucibus tellus. Duis rutrum
          ullamcorper nisi, nec faucibus nisi faucibus sed.
          <div class="mb-6 pb-2">
            <ul class="text-lg ml-2">
              <li>
                <a
                  href="#"
                  class="text-blue-900 font-semibold ml-2 no-underline hover:underline"
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a
                >
              </li>
            </ul>
          </div>
        </section>
      </div>
    </article>
  </section>
  <!-- Descripcion NUestra Empresa -->

  <!-- Sticky Share Group -->
  <div class="sticky bottom-6 inset-x-0 text-center">
    descarga nuetro brochure
  </div>
  <!-- End Sticky Share Group -->
</LayoutBase>
