---
//import "animate.css";

import LayoutBase from "../layouts/LayoutBase.astro";
/*-------------------------------------------------------------- 
## COMPONENTES
----------------------------------------------------------------*/

//SEO
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title="Empresa de Ingenieria, Montaje y Construcción - ABS Group  "
  description="Ingenieria y construccion"
  canonical="https://www.absgroup.cl/"
  openGraph={{
    url: "https://www.absgroup.cl/",
    title: "Grupo Abs",
    description: "Grupo Abs",
    images: [
      {
        url: "https://www.absgroup.cl/og-image-01.jpg",
        width: 800,
        height: 600,
        alt: "Og Image Alt",
        type: "image/jpeg",
      },
    ],
    site_name: "AbsGroup CHIle",
  }}
  twitter={{
    handle: "@handle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<LayoutBase title="Home ABSGroup">
  <!-- Presentacion -->

  <section class="overflow-hidden">
    <section class="mb-16">
      <div
        class="relative overflow-hidden bg-no-repeat bg-cover"
        style="background-position: 50%; background-image: url('https://www.absgroup.cl/Imagenes/Home/nosotros.webp'); height: 500px;"
      >
      </div>

      <div class="mx-auto">
        <div class="text-center text-gray-800">
          <div class="mt-20">
            <h1
              class="text-3xl md:text-4xl xl:text-5xl font-bold tracking-tight mb-12"
            >
              Nuestra Empresa<br /><span class="text-blue-600"
                ><a href="#hola">Group ABS</a></span
              >
            </h1>
          </div>
        </div>
      </div>
    </section>

    <div class="px-8 lg:px-24">
      <div class="w-full h-px bg-gray-200"></div>
      <div class="flex items-center justify-between flex-wrap gap-4 py-5">
        <div class="flex items-center gap-4 flex-wrap">
          <img
            class="h-24 w-24 rounded-full"
            src="../Imagenes/Home/omar_salgado_ceo_absgroup.webp"
            alt="Omar Salgado CEO ABS Group"
          />

          <div>
            <p class="text-lg font-semibold">Omar Salgado S.</p>
            <span class="text-gray-500 font-medium">CEO & FOUNDER</span>
          </div>
        </div>
      </div>
      <div class="w-full h-px bg-gray-200 mb-12"></div>
      <h2 class="text-xl lg:text-4xl font-bold mb-6 capitalize">
        Descripción General
      </h2>
      <p class="text-gray-700 font-medium text-lg mb-6 text-justify">
        <strong>Group ABS Ingeniería y Construcción,</strong> es una empresa conformada
        por ingenieros con experiencia, los cuales hace más de una década se unen
        para componer un equipo que ha sido capaz de ejecutar proyectos en las áreas
        de Ingeniería, Construcción, Servicios y Montaje industrial.<br /><br />
        Desde sus inicios, el principal objetivo es ser una empresa reconocida por
        enfocarse en el cliente entregando compromiso, solidez, prestigio y excelencia.<br
        /><br /> Lo anterior, se respalda en los distintos proyectos ejecutados,
        que han entregado soluciones integrales a diferentes sectores productivos,
        tales como: minero, forestal, siderúrgico, petroquímico, industrial, comercial
        y edificaciones
      </p>

      <h2 class="text-xl lg:text-4xl font-bold mb-6 capitalize">Fundamentos</h2>

      <p class="text-gray-700 font-medium text-lg mb-6 text-justify">
        <span class="text-gray-900 font-bold">Misión:</span>
        <span
          >Satisfacer las necesidades, entregando soluciónes y estrategias a
          nuestros clientes. A su vez cumplir con eficiencia y eficacia los
          requerimientos solicitados, cumpliendo con los plazos y presupuestos,
          contando en la ejecución de los servicios con un equipo de
          profesionales calificados y comprometidos.</span
        >
      </p>
      <p class="text-gray-700 font-medium text-lg mb-6 text-justify">
        <span class="text-gray-900 font-bold">Visión:</span>
        <span
          >Ser una empresa posicionada, consolidada y reconocida en el área de
          los servicios prestados, por su capacidad de gestión y personal
          calificado. Trato respetuoso y preferencial a nuestros clientes.
          Buscando la innovación en nuestros servicios, con el objetivo de dar
          rápida solución a los requerimientos solicitados, marcando la
          diferencia en el rubro minero, industrial, privado, público y
          gubernamental.</span
        >
      </p>
      <p class="text-gray-700 font-medium text-lg">
        <h2 class="text-xl lg:text-4xl font-bold mb-6 capitalize">Valores</h2>
        <ol class="text-gray-700 font-medium text-lg mb-6 capitalize">
          <li>- Honestidad y Honradez.</li>
          <li>- Trabajo en Equipo.</li>
          <li>- Respeto, diálogo y cercanía</li>
          <li>
            - Reconocimiento del trabajo bien hecho, el esfuerzo y los
            resultados
          </li>
          <li>- Innovación y Formación continua.</li>
          <li>- Organización, Orden y Limpieza.</li>
        </ol>
      </p>
      <div class="text-center text-gray-800">
        <div class="mt-20">
          <h1
            class="text-3xl md:text-4xl xl:text-5xl font-bold tracking-tight mb-12"
          >
            Socios<br /><span class="text-blue-600"
              ><a href="#hola">Estratégicos</a></span
            >
          </h1>
        </div>
      </div>
      <p class="text-gray-700 font-medium text-lg text-justify">
        <span
          >A partir del año 2024, considerando panorama actual de la economía en
          Chile, junto al entorno dinámico de los mercados y alta competitividad
          en la industria, GROUP ABS Ingeniería y Construcción establece una
          importante alianza estratégica, con las siguientes empresas:

          <div class="pt-3">
            <a
              href="http://rsmconstructora.cl/"
              target="_blank"
              class="text-xl mb-4 text-blue-900 font-bold hover:underline"
              ><img src="../Imagenes/Clientes/rsm.webp" /> Visitar Sitio Web</a
            >
            <p class="text-gray-700 font-medium text-lg text-justify">
              Empresa dedicada a prestar servicios de ingeniería y construcción
              en el sector Comercial, Industrial, Energía y Minería. Con más de
              15 años de trayectoria y experiencia profesional.
            </p>
          </div>
          <div class="pt-3">
            <a
              href="https://www.leanvalv-spa.com/"
              class="text-xl mb-4 text-blue-900 font-bold hover:underline"
              target="_blank"
              ><img src="../Imagenes/Clientes/leanv.webp" /> Visitar Sitio Web
            </a>
            <p class="text-gray-700 font-medium text-lg text-justify">
              Empresa especialistas en Gestión del Mantenimiento de Activos con
              relación en válvulas de control y Lean Manufacturing.
            </p>
          </div>
        </span>

        <div
          class="rounded-lg px-6 py-4 flex items-center flex-wrap gap-2 bg-gray-50 border border-gray-200 mb-5 text-center mt-10"
        >
          <p class="text-gray-700 text-lg capitalize">
            El objetivo de esta alianza es el fortalecimiento Corporativo;
            desarrollar mayores ventajas competitivas aumentando la propuesta de
            valor conjunta; diversificar y expandir el área de trabajo,
            potenciar la Administración y Gestión Comercial.
          </p>
          <div class="text-gray-700 text-lg text-center items-center w-full">
            ¿Más sobre <a
              href=""
              class="text-blue-900 font-semibold hover:underline">Nosotros?</a
            >
            <a
              class="inline-flex items-center justify-center bg-blue-900 text-lg font-light text-white shadow-sm transition-all duration-150 rounded-xl px-8 py-4 hover:bg-blue-900 hover:text-stone-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
              href="https://www.absgroup.cl/Descargas/AbsGroup.pdf"
              target="_blank"
              ><i class="fas fa-file-pdf text-md" aria-hidden="true"></i>
              Descargar Brochure</a
            >
          </div>
        </div>
      </p>
    </div>
  </section>
</LayoutBase>
