<section class="overflow-hidden mt-10">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full p-4">
        <p class="text-gray-600 text-lg text-center"></p>
      </div>
    </div>
  </div>
</section>

<div class="mx-auto mb-12 max-w-2xl text-center">
  <span class="text-sm uppercase text-gray-500 uppercase">Experiencia</span>
  <h2 class="font-heading mb-4 mt-2 text-4xl font-bold lg:text-5xl uppercase">
    Nuestros Servicios
  </h2>
  <p class="text-lg leading-loose text-gray-500 capitalize">
    equipo multidisciplinario con más de una década de práctica, constituye
    ABSGroup Ingeniería y Construcción, capacitada para realizar proyectos de
    Ingeniería, Construcción, Montaje y Mantención industrial.
  </p>
  <a
    class="inline-flex items-center justify-center bg-blue-900 text-lg font-light text-white shadow-sm transition-all duration-150 rounded-xl px-8 py-4 hover:bg-blue-900 hover:text-stone-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
    href="Descargas/AbsGroup.pdf"
    target="_blank"
    ><i class="fas fa-file-pdf text-md" aria-hidden="true"></i>
    Descargar Brochure</a
  >
</div>

<div
  class="px-8 py-10 mx-auto lg:max-w-screen-xl sm:max-w-xl md:max-w-full sm:px-12 md:px-16 lg:py-20 sm:py-16"
>
  <div class="grid gap-x-2 gap-y-2 sm:gap-y-2 md:grid-cols-2 lg:grid-cols-4">
    <div class="relative">
      <a href="#_" class="block overflow-hidden group rounded-xl">
        <img
          src="Imagenes/Home/ingenieria.webp"
          class="object-cover w-full h-56 transition-all duration-300 ease-out sm:h-64 group-hover:scale-110"
          alt=""
        />
      </a>
      <div class="relative mt-5">
        <p class="uppercase font-semibold text-xs mb-2.5 text-slate-900">
          Servicios de:
        </p>
        <a href="#" class="block mb-3 hover:underline">
          <h2
            class="text-2xl font-bold leading-5 text-black transition-colors duration-200 hover:text-deep-purple-accent-700"
          >
            Ingeniería
          </h2>
        </a>
        <uk
          class="text-sm font-normal text-slate-900 transition-all duration-500 leading-5 group-hover:text-white"
        >
          <li>Ingeniería Básica</li>
          <li>Ingeniería de Detalle</li>
          <li>Especificaciones Técnicas</li>
          <li>Arquitectura y diseño</li>
        </uk>
      </div>
    </div>
    <div class="relative">
      <a href="#_" class="block overflow-hidden group rounded-xl">
        <img
          src="Imagenes/Home/construccion.webp"
          class="object-cover w-full h-56 transition-all duration-300 ease-out sm:h-64 group-hover:scale-110"
          alt=""
        />
      </a>
      <div class="relative mt-5">
        <p class="uppercase font-semibold text-xs mb-2.5 text-slate-900">
          Servicios de:
        </p>
        <a href="#" class="block mb-3 hover:underline">
          <h2
            class="text-2xl font-bold leading-5 text-black transition-colors duration-200 hover:text-deep-purple-accent-700"
          >
            Construcción
          </h2>
        </a>
        <uk
          class="text-sm font-normal text-slate-900 transition-all duration-500 leading-5 group-hover:text-white"
        >
          <li>Obras civiles</li>
          <li>Edificación Privada</li>
          <li>Edificación Pública.</li>
          <li>Urbanización</li>
          <li>Paisajismo</li>
        </uk>
      </div>
    </div>
    <div class="relative">
      <a href="#_" class="block overflow-hidden group rounded-xl">
        <img
          src="Imagenes/Home/montaje.webp"
          class="object-cover w-full h-64 transition-all duration-300 ease-out group-hover:scale-110"
          alt=""
        />
      </a>
      <div class="relative mt-5">
        <p class="uppercase font-semibold text-xs mb-2.5 text-slate-900">
          Servicios de:
        </p>
        <a href="#" class="block mb-3 hover:underline">
          <h2
            class="text-2xl font-bold leading-5 text-black transition-colors duration-200 hover:text-deep-purple-accent-700"
          >
            Montaje Industrial
          </h2>
        </a>
        <uk
          class="text-sm font-normal text-slate-900 transition-all duration-500 leading-5 group-hover:text-white"
        >
          <li>Montaje eléctrico.</li>
          <li>Automatización</li>
          <li>Piping</li>
          <li>Montaje mecánico</li>
        </uk>
      </div>
    </div>
    <div class="relative">
      <a href="#_" class="block overflow-hidden group rounded-xl">
        <img
          src="Imagenes/Home/paradaplantas.webp"
          class="object-cover w-full h-64 transition-all duration-300 ease-out group-hover:scale-110"
          alt=""
        />
      </a>
      <div class="relative mt-5">
        <p class="uppercase font-semibold text-xs mb-2.5 text-slate-900">
          Servicios de:
        </p>
        <a href="#" class="block mb-3 hover:underline">
          <h2
            class="text-2xl font-bold leading-5 text-black transition-colors duration-200 hover:text-deep-purple-accent-700"
          >
            Mantención Industrial
          </h2>
        </a>
        <uk
          class="text-sm font-normal text-slate-900 transition-all duration-500 leading-5 group-hover:text-white"
        >
          <li>Mejora Continua</li>
          <li>Paradas De Planta</li>
          <li>Planificación de proceso</li>
          <li>Mantención Mecánica</li>
          <li>Mantención Eléctrica</li>
        </uk>
        <!-- <a href="#_" class="font-medium underline">Read More</a> -->
      </div>
    </div>
  </div>
</div>
