<footer class="pt-10 pb-3 text-slate-300">
  <div class="container mx-auto px-4 text-center">
    <a
      class="mx-auto inline-block text-2xl leading-none text-slate-100"
      href="#"
    >
      logo ABS
    </a>
    <ul class="my-6 flex flex-wrap items-center justify-center">
      <li class="mx-4 mb-2 md:mb-0">
        <a class="text-md hover:underline" href="#">Certificaciónes</a>
      </li>
      <li class="mx-4 mb-2 md:mb-0">
        <a class="text-md hover:underline" href="#">Nuestro Grupo</a>
      </li>
      <li class="mx-4 mb-2 md:mb-0">
        <a class="text-md hover:underline" href="#">Servicios</a>
      </li>
      <li class="mx-4 mb-2 md:mb-0">
        <a class="text-md hover:underline" href="#">Contacto</a>
      </li>
    </ul>
    <div class="d-flex flex gap-5 text-center mx-auto justify-center">
      <a class="hover:text-amber-500" href="#">
        <i class="fab fa-facebook-f text-2xl"></i>
      </a>
      <a class="hover:text-amber-500" href="#">
        <i class="fab fa-twitter text-2xl"></i>
      </a>
      <a class="hover:text-amber-500" href="#">
        <i class="fab fa-instagram text-2xl"></i>
      </a>
    </div>
  </div>

  <div class="container mx-auto px-4">
    <p class="text-center text-sm text-gray-500">
      Derechos Reservados. © ABS Group 2024.
    </p>
  </div>
</footer>
