<div
  class="container relative mx-auto w-full text-slate-100 text-focus-in mb-20"
>
  <div class="mx-auto px-5">
    <div class="flex flex-col items-center">
      <h2
        class="mt-5 text-center text-3xl font-bold tracking-tight md:text-4xl"
      >
        Preguntas Frecuentes
      </h2>
      <p class="mt-3 text-lg text-neutral-500 md:text-xl">Lorem Ipsum</p>
    </div>
    <div class="mx-auto mt-8 grid max-w-xl divide-y divide-neutral-200">
      <div class="py-5">
        <details class="group">
          <summary
            class="flex cursor-pointer list-none items-center justify-between font-medium"
          >
            <span> Lorem</span>
            <span class="transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Repellendus modi iste provident voluptas sapiente, pariatur delectus
            eaque illo quibusdam debitis nesciunt molestiae eius iusto. Cum
            nobis tempora reiciendis eum maiores.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary
            class="flex cursor-pointer list-none items-center justify-between font-medium"
          >
            <span> Lorem</span>
            <span class="transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Repellendus modi iste provident voluptas sapiente, pariatur delectus
            eaque illo quibusdam debitis nesciunt molestiae eius iusto. Cum
            nobis tempora reiciendis eum maiores.
          </p>
        </details>
      </div>
    </div>
  </div>
</div>
