<div class="mx-auto text-center">
  <a
    class="inline-flex items-center justify-center bg-blue-900 text-lg font-medium text-white shadow-sm transition-all duration-150 rounded-xl px-8 py-4 hover:bg-blue-900 hover:text-stone-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
    href="/"
  >
    Descargar Brochure
  </a>
</div>
