<div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="p-8 text-center sm:p-16 md:px-24 md:py-20 lg:px-28">
    <div class="max-w-2xl mx-auto">
      <h1
        class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-teal-600 via-sky-400 to-cyan-500"
      >
        Brochure
      </h1>
      <h2
        class="font-display text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-4xl"
      >
        Lorem Ipsum
      </h2>
      <p class="max-w-lg text-base text-indigo-100 mx-auto mt-4 sm:text-lg">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum officiis
        rerum nisi esse quis iusto harum nam, voluptatem nemo nobis officia modi
        quaerat fugit. Accusamus neque nemo velit quas veritatis.
      </p>
    </div>
    <div
      class="flex flex-col justify-center gap-4 mt-8 sm:flex-row sm:items-center sm:gap-5"
    >
      <a
        class="inline-flex items-center justify-center bg-white text-lg font-semibold text-indigo-700 shadow-sm transition-all duration-150 rounded-xl px-8 py-4 hover:bg-slate-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
        href="/">Descaargar Brochure</a
      >
    </div>
  </div>
</div>
